//Responsive 

$smartphone: 768px;
$pc:$smartphone;

//Colors
$primary: #D6215C;
$black:#000000;

//Fonts

// @font-face{
//     font-family: "RalewayMedium";
//     src: url("../../assets/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
// }
